h1{ color: yellow;
    text-align: center;
text-decoration: underline;
}
p{  
    color: white;
font-size: 40px;
}

body{ 
    background-color: blueviolet;
    
}
   body{ background-image: url(./images/goku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
}
img{width: 200px;
height: 200px;
}
h{ color: aqua;
font-size: larger;
}
h2{
    text-align:left;
}
h2{
    color:aliceblue;
}